---
interface Props {
	href?: string;
	target?: string;
	rel?: string;
	size?: "small" | "medium";
}

const { href, target, rel, size = "medium" } = Astro.props;
---

{
	href ? (
		<a
			class={`button ${size}`}
			href={`${href}`}
			target={`${target}`}
			rel={`${rel}`}
		>
			<slot />
		</a>
	) : (
		<button class={`button ${size}`}>
			<slot />
		</button>
	)
}

<style lang="scss">
	.button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: var(--space-xs) var(--space-l);
		background-color: var(--color-primary);
		color: var(--text-color);
		text-decoration: none;
		outline: 0;
		border: none;
		transition: 0.1s all ease-in-out;

		&:hover {
			background-color: var(--color-primary-dark);
		}

		&:focus-visible {
			outline: 2px solid var(--text-color);
			outline-offset: 2px;
		}

		// Small
		&.small {
			font-size: var(--step--1);
			padding: var(--space-2xs) var(--space-s);
		}
	}
</style>
